
<div id="dock-container">
 <div id="dock">
   <ul>
     <li>
       <span>Home</span>
       <a href="/"><img class="img-rounded" src="../../assets/images/home.png"/></a>
     </li>
      <li>
        <span>Projects</span>
        <a href="/projects"><img class="img-rounded" src="../../assets/images/portfolio.jpg"/></a>
      </li>
      <li>
         <span>Resume</span>
         <a href="https://docs.google.com/document/d/1uZp1ddPBai7xr4xB5aVZsghJVbT3wzMGp7xp4CNOAzk/edit?usp=sharing" target="_blank"><img class="img-rounded" src="../../assets/images/resume.jpg"/></a>
      </li>
      <li>
         <span>Connect with Me</span>
         <a href="/contact"><img class="img-rounded" src="../../assets/images/github.png"/></a>
      </li>
   </ul>
 </div>
</div>
