<!-- Quiz Modal -->
<div id="Quiz" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Quiz Generator Details</h4>
      </div>
      <div class="modal-body">
        <p>Quiz Generator could help professionals create a quiz or form.</p>
        <ul>
          <li>Javascript Application: Firebase db and Node</li>
          <li>Template for generating a quiz </li>
        </ul>
        <hr>
        <div class="modal-links">
          <p><a href="https://rduon002.github.io/Project-Kudos/" target="_blank">Demo the App</a></p>
          <p><a href="https://github.com/rduon002/Project-Kudos" target="_blank">Visit the GitHub Repo</a></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Book Nook Modal -->
<div id="BookNook" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Book Nooks Detail</h4>
      </div>
      <div class="modal-body">
        <p>Book Nooks provides users the convenience of recording their book library, see New York Time's Best-sellers, and link to a Amazon.</p>
        <ul>
          <li>Deployed on Heroku</li>
          <li>SQL Database store books</li>
          <li>Data models are manipulated using the Sequelize ORM</li>
        </ul>
        <hr>
        <div class="modal-links">
          <p><a href="https://still-waters-68180.herokuapp.com/" target="_blank">Demo the App</a></p>
          <p><a href="https://github.com/rduon002/Take3" target="_blank">Visit the GitHub Repo</a></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Rick and Morty Clicky Game Modal-->
<div id="Rick" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Rick and Morty Clicky Game</h4>
      </div>
      <div class="modal-body">
        <p>React application featuring Rick and Morty.</p>
        <p>Yarn webpack manager</p>
        <hr>
        <div class="modal-links">
          <p><a href="https://rickandmortyclicky.herokuapp.com/" target="_blank">Demo the App</a></p>
          <p><a href="https://github.com/rduon002/Rick-Morty-Click-Game-" target="_blank">Visit the GitHub Repo</a></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

