{{> navbar}}

<div class="container">
  <div class="row">
    <img class="img-thumbnail" src="../../assets/images/pic.jpg" alt="profilePic">
      <h3></h3>
    </div>
  </div>
</div>



{{> footer }}
