{{> navbar }}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default project-panels">
        <div class="panel-heading">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Quiz">Quiz Generator</button>
        </div>
        <div class="panel-body">
          <img class="project-thumbnail" src="/assets/images/quiz.png" alt="">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default project-panels">
        <div class="panel-heading">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#BookNook">Book Nook</button>
        </div>
        <div class="panel-body">
          <img class="project-thumbnail" src="/assets/images/Book.png" alt="">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default project-panels">
        <div class="panel-heading">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Rick">Rick and Morty Clicky Game</button>
        </div>
        <div class="panel-body">
          <img class="project-thumbnail" src="/assets/images/clickygame.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>


{{> modals}}

{{> footer }}
